/* =====================
   HTML5 Boilerplate/Initializr styles
   ===================== */

body {
   padding-top: 50px;
   padding-bottom: 20px;
}

/* =====================
   Author's custom styles
   ===================== */

#aboutsection img {
  margin: auto;
}
#imageadam {
  width: 150px;
  /*border: 1px solid black;*/
  /*border-radius: 50%;*/
  margin-top: 2em;
  /*float: right;*/
  /*display: inline-block; don't need this and float*/
}
#gallery img {
  width: 100%;
  margin-bottom: 1em;
}
#gallery, #gallery a {
    color: white;
}
.row {
  padding-bottom: 4em;

}
.light-grey {
  background-color: #F4F5F6;
}
.sky-blue {
  color: #2595ff;
}
.dark-grey-background {
  background-color: #262F36;
}
.gallery-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.gallery-flex-item {
    flex-basis: 15%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

}
.gallery-flex-item img {
    width: 100%;
    padding-right: 6%;
}
.gallery-flex-item p {
    margin-top: auto; /* consistent vert alignment */
    text-align: center;
    padding-top: .5em;
}
h2 {
    padding: 1em 0;
}

@media (max-width: 920px){
    .gallery-flex-item {
        flex-basis: 50%;
    }
}
@media (max-width: 600px){
    .gallery-flex-item {
        flex-basis: 50%;
    }
}
@media (max-width: 480px){
    .gallery-flex-item {
        flex-basis: 50%;
    }
}
