* {
    box-sizing: border-box; /* padding, margin inside width of box element */
}
body {
    font-family: Arial, sans-serif;
    font-size: 90%;
    margin: 0px;
}
nav input, nav button, nav img {
    float: left;
    margin: 8px;
}
nav button {
    padding: 18px 22px;
    margin-top: 20px;
    border: .5px solid black;
}
nav img {
    margin-left: 0px;
}
nav {
    background-color: #C41200;
    overflow: auto;
    height:
}
#nav-menu {
    clear: both;
    margin: 0px 0px 10px 121px;
}
#nav-menu li {
    display: inline;

    font-weight: bold;
    font-size: 95%;
    padding-right: 12px;
}
#nav-menu a, #nav-menu a:hover {
    color: white;
    text-decoration: none;
    border-radius: 3px;
    /*color: #fff;
    display: block;
    padding: 0 8px;
    font-size: 13px;
    line-height: 1.38462em;
    font-weight: bold;
    line-height: 21px;*/
}
#nav-menu li:hover {
    background-color: #991C0F;
}

.container {
    width: 960px;
    margin: auto;
}
.material-icons {
    vertical-align: middle;
    font-size: 18px;
    line-height: .6;
    padding-right: 4px;
}
#filters {
    background-color: #F5F5F1;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid lightgrey;
}
#filters h1 {
    margin-top: 0px;
    padding-top: .83em;
    margin-bottom: 8px;
}
#filters p {
    margin-bottom: -10px;
}
input[type=text] {
    width: 350px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url('images/search-icon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
    margin-top: 12px;
    margin-right: 0px;
}
button {
    background-color: white;
    border: 1px solid lightgrey;
    /*color: white;*/
    padding: 8px 12px;
    text-decoration: none;
    margin: 4px 1px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 20px;
}
.nav-items {
    border: 1px solid black;
    margin-top: 12px;
    border-radius: 4px;
    /*height: 50px;
    width: 50px;*/

}
#avatar-btn {
    background-image: url(images/adam.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: initial;
    margin-right: -10px;
    margin-top: 0px;
}
#price-btn-1 {
    border-radius: 4px 0px 0px 4px;
    margin-right: -2px;
    margin-right: -6px;
}
#price-btn-2, #price-btn-3 {
    border-radius: 0px;
    margin-right: -6px;
}
#price-btn-4 {
    border-radius: 0px 4px 4px 0px;
}

nav button:hover {
    background-color: #E50A04;
}
nav button {
    background-color: #C41200;
    background-image: url('images/search-icon.png');
    background-position: 12px 10px;
    background-repeat: no-repeat;
    padding: 20px 24px;
    margin-top: 20px;
}
#listings {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid lightgrey;
    overflow: auto;
}
#listings-text {
    float: left;
    width: 300px;
    /*background-color: lightgrey;*/
    height: 800px;
    margin-right: 30px;
}
#listings-map {
    float: left;
    width: 615px;
    /*background-color: green;*/
    /*height: 500px;*/
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;

}
#map-info {
    height: 43px;
    border-bottom: 1px solid lightgrey;
    background-color: #F5F5F1;
    padding-top: 12px;

}
#map-map {
    height: 500px;
}
#listings-map img {
    width: 100%;
}
footer {
    clear: both;
    background-color: #F5F5F1;
}
footer h3 {
    color: #C41200;
}
ul {
    list-style: none;
    padding-left: 0px;
}
li {
    padding-bottom: 5px;
}
a {
    color: #3B65A7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-item {
    flex-basis: 10%;
    flex-grow: 1;
}
.listing-box {
    padding: 15px 10px 15px 0px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    overflow: auto;
    line-height: 10%;
}
.listing-img {
    float: left;
    margin-right: 10px;
    border-radius: 4px;
}
.listing-title {
    font-size: 1.2em;
    /*line-height: 90%;*/
}





/*
TO BE ADDED
overflow: auto so div w floats doesn't shrink
nav
    ul list-style-type: none, lis float: left, a display: block, pading, margin
2 columns page with floats left and width %s
clear: both


*/
